<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="{{ site.description }}" />
<meta property="og:locale" content="pt">
<meta property="og:title" content="{% unless page.top %}{{ page.title }} | {% endunless %}{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.production_url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.production_url }}/img/logo1.png" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{{ page.summary }}" />
<meta property="fb:app_id" content="352067288256995" />
<title>{% unless page.top %}{{ page.title }} | {% endunless %}{{ site.title }}</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link>
<link rel="alternate" href="/atom.xml" type="application/rss+xml" title="{{ site.title }}"></link>    

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'></link>
    <!-- Le that amazing thing everybody is using. So do i -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <!-- Le styles -->
   <!-- <link href="{{ ASSET_PATH }}/css/1.4.0/bootstrap.css" rel="stylesheet"></link> -->
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all"></link>
</head>