/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}


.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

body {
	background-color: #ECF0F1;
    color: #34495E;
    font-family: "Noto Sans","Helvetica Neue",sans-serif !important;
}


a {
    color: #E78B24;
    text-decoration: none;
}

a:hover, a:focus {
    color: #DA7E18;
    text-decoration: underline;
}


body > footer #social {
    height: 48px;
    margin-top: 48px;
    position: relative;
}

body > footer ul.subscription {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -24px;
    width: 100%;
}

body > footer ul.subscription li, body > footer ul.subscription a {
    display: inline-block;
    padding: 0;
}

body > footer ul.subscription li:first-child {
    padding: 0 0 0 8px;
}




body > footer ul.subscription a:before {
    color: #F7F6F4;
    font-size: 24px;
    line-height: 48px;
}
body > footer ul.subscription a {
    margin: 0 8px;
}
body > footer ul.subscription a {
    background-color: #C3C3C3;
    border-radius: 500px 500px 500px 500px;
    font-family: fontAwesome;
    font-size: 0;
    height: 48px;
    margin: 0 4px;
    width: 48px;
    z-index: 1;
}
body > footer ul.subscription li, body > footer ul.subscription a {
    display: inline-block;
    padding: 0;
}

.icon-github-alt:before, body > footer ul.subscription a[rel="subscribe-github"]:before {
    content: "";
}


.icon-twitter:before, body > footer ul.subscription a[rel="subscribe-twitter"]:before {
    content: "";
}

.icon-envelope-alt:before, body > footer ul.subscription a[rel="subscribe-email"]:before {
    content: "";
}

.icon-rss:before, body > footer ul.subscription a[rel="subscribe-rss"]:before {
    content: "";
}